Q1. What is a database? Differentiate between SQL and NoSQL databases.

    A Database is an organised collection of structured information, or data, typically
    stored electronically in a computer system. It can be managed through a Database
    Management System(DBMS), a software used to manage data. Database refers to related
    data in a structured form.
    In database, data is organized into tables consisting of rows and columns and it is
    indexed so data can be updated, expanded, and deleted easily. 
    
            SQL                                              NoSQL
    Relational Database Management System      Non-relationsl or distributed database 
                                               system.
    
    These database have fixed or static or     The have dynamic schema.
    predefined schema.
    
    These database are not suited for          These database are best suited for hirarchical
    hirarchical data storage.                  data storage.
    
    Best suited for complex queries.           Not so good for complex queries.
    
    Vertically scalable.                       Horizontally scalable.
    
    Follow ACID (Atomicity, Consistency,       Follow CAP (Consistency, Availability, partition
    Isolation and Durability) property.        tolerence) property.
    
    Ex- MySQL, MS-SQL,                         Ex- MongoDB, HBase,

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

    DDL (Data Defination Language) is a computer language used to create and modify
    the structure of database objects in a database.These databse objects include 
    views, schemas, tables, indexes, etc.
    DDL also known as Data Description Language in some contexts, as it describes the
    fields and records in a database table.
    
    CREATE :- CREATE command is used to create a new database in DBMS, crete a new table
        in database.
        Example:
            CREATE TABLE Employee(Employee Id INT, First name VARCHAR(50), Last Name(50));
            
    ALTER :- An ALTER command modifies an existing database table. This command can add up
        additional column, drop existing columns and even change the data type of columns
        involved in a database table.
        Example:
            ALTER TABLE Employee ADD PRIMARY KEY(employee_pk);
            
            In this example we added a unique primary key to the table to add a constraint
            and enforce a unique value. The constraint "employee_pk" is on the Employee table.
            
    DROP :- A DROP command is used to delete objects such as a table, index, or view. A
        DROP statement cannot be rolled back, so once an object is destroyed, there's no
        way to recover it.
        Example:
            DROP TABLE Employee;
            
    TRUNCATE :- Similar to DROP, the TRUNCATE statement is used to quickly remove all records
        from a table. Unlike DROP that completely destroys a table, TRUNCATE preserves all 
        its full structure to be reused later.
        Example:
            TRUNCATE TABLE Employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

    Data Manipulation Language (DML) is a family of computer language including commands
    permitting user to manipulate data in database. This manipultion involves inseting 
    data into database, retrieving existing data, deleting data from existing tables and
    modifying existing data. DML is mostly incorporated in SQL databases.
    
    INSERT :- is a Data Manipulation command in SQL, which allows users to insert data
        in database table.
        Example:
            INSERT INTO Student(stu_name, stu_marks, stu_age) VALUES ('Ram', 89, 19)
    
    UPDATE :- is a Data Manipulation command in SQL, which allows users to update of
        modify the existing data in database table.
        Example:
            UPDATE Student SET stu_marks = 91 WHERE stu_name = 'Ram';
    
    DELETE :- is a Data Manipulation command in SQL, which allows users to remove or 
        multiple existing records from the database tables.
        Example :
            DELETE FROM Student WHERE stu_name = 'Ram'

Q4. What is DQL? Explain SELECT with an example.

    Data Query Language (DQL) is used to fetch data from the database.It is a part of
    the base grouping of SQL sub-languages.DQL statements are used for performing queries
    on the data within schema objects.The purpose of DQL commands is to get the schema 
    relation based on the query passed to it.
    
    SELECT :- Used to select attribute based on the condition described by WHERE clause.
        Example
            SELECT stu_name FROM Student WHERE stu_marks > 85

Q5. Explain Primary Key and Foreign Key.

    Primary key:- Primary key is a column or a set of columns in a table whose values 
        uniquely identify a row in the table. A relational database is designed to enforce
        the uniqueness of primary keys by allowing only one row with a given primary key
        value in a table.
        
    Foreign key:- Foreign key is a column or a set of columns in a table whose values
        corresponds to the values of the primary key in another table. In order to add
        a row with a given foreign key value, there must exist a row in the related 
        table with the same primary key value.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

    cursor() :- cursor is an object which helps to execute the query and fetch the records 
        from the database. It is used to execute statements to communicate with MySQL database.
        
    execute() :- this method executes the given database operation. This function requires
        one parameter, the query. If the query contains any substitution then a second 
        parameter, a tuple, containing the values to substitute must be given.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

    Order of execution of SQL clauses in an SQL query:
        1. FROM/JOIN : Choose and join tables to get base data.
        2. WHERE : is executed to filter out records that do not meet the constraint.
        3. GROUP BY : is executed to group the data based on the values in one or more columns.
        4. HAVING : is executed to remove the created grouped records that don't meet the constraints.
        5. SELECT : is executed to derive all the desired columns and expressions. 
        6. ORDER BY : is executed to sort the derived values in ascending or descending order.
        7. LIMIT : is executed to keep or skip the specified number of rows.