Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

l = [4, 8, 15, 16, 23, 42]
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
data = list(range(1, 11))
pd.Series(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

    Name      Age      Gender
    Alice     25       Female
    Bob       30       Male
    Claire    27       Female

In [3]:
data = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age':[25, 30, 27],
    'Gender':['Female', 'Male', 'Female']
}

pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

    DataFrame : Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular
        data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data 
        structure,i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame
        consists of three principal components, the data, rows, and columns.
        
    DataFrame is combination of multiple columns and rows. Series is either a row or a column.

In [4]:
data = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age':[25, 30, 27],
    'Gender':['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
# DataFrame contains multiple rows and columns 
# Here df is DataFrame because it contains 3 rows and 2 columns
# if we check the data type of df it show DataFrame
type(df)

pandas.core.frame.DataFrame

In [5]:
# series is either a row or a column
df1 = df['Name']
# df1 is a series because it contains only one column
# if we check the data type of df1, it show Series
type(df1)

pandas.core.series.Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

    Some common functions to manipulate data are:
    1. read_csv or read_excel : This function is used to read a CSV or an excel file to pandas
        DataFrame format. 
        df = pd.read_csv("File_name.csv")
    2. head : This function is used to display number of 1st five rows by default. We can also 
        give argument (n) i.e, number of rows to be displayed.
        df.head() or df.head(n)
    3. shape : This function is used to count the rows and columns in DataFrame. It returns the 
        no. of rows and columns enclosed in a tuple.
        df.shape
    4. describe : This function is used to know the summary of Statistics of DataFrame.
        df.describe()
    5. dropna : This function is used to dropping the missing values in DataFrame, it removes
        al the NaN values in the dataframe.
        df.dropna() or df.dropna(axis=1) this will drop all the columns with any missing values.
    6. merge : This function is used to merging DataFrames , arguments passed are the dataframes 
        to be merged along with the column name.
        pd.merge(df, df1, on = 'Name') , where df and df1 are two dataframes and Name is the column name.
    7. rename : This function is used to rename the columns of dataframe, arguments passed are the 
        columns to be renamed and inplace.
        df.rename(columns={'Name': 'CountryName'}, inplace=False)
        column 'Name' rename with 'CountryName' The code ‘inplace = False’ means the result would be
        stored in a new DataFrame instead of the original one.
    8. sort_values : This function is used for sorting the DataFrame.
        df.sort_values(by=['Age'], ascending=True) where Age is column name
    9. For indexing and slicing: .loc is label base and .iloc is integer position based methods
        using for slicing and indexing of data.

In [6]:
# we can use head function to read dataframe from start
data = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age':[25, 30, 27],
    'Gender':['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [7]:
# shape function , we can use shape function to find number of row and column present in dataframe
df.shape

(3, 3)

In [8]:
# we can rename column name
df.rename(columns={'Name': 'name'}, inplace=False)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

    Series, DataFrame and Panel are data structures of pandas. All data structure of pandas
    are value mutable (the value they contain can be altered) but not always size-mutable. 
    The length of Series cannot be changed, but, for example, columns can be inserted into
    a DataFrame.

Q7. Create a DataFrame using multiple Series. Explain with an example.

    Suppose we have three series name, age and gender. We have to make DataFrame from these 
    series. We can use pd.DataFrame() method in which we pass a dictionary which contain 
    key-value pair(key is the name of the column and value is the series). We can also use
    concat() method which takes parameter a list of series and axis = 1(to specify merge 
    series as columns instead of rows).

In [9]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])
pd.DataFrame({'Name':name, 'Age':age, 'Gender':gender})

# we can also use concat() method 
# pd.concat([name, age, gender], axis = 1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female